{% extends './partials/layout.twig' %}
{% block title%} Home {% endblock %}
{% block content %}
    <ul id="item">
        <li>Item1</li>
        <li>Item2</li>
        <li>Item3</li>
        <li>Item4</li>
    </ul>
{% endblock %}